* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    background-repeat: no-repeat;
    height: 100vh;
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
}

.screen1, .screen2 {
    background: white;
    width: 42.8rem;
    height: 42.4rem;
    margin: 13.9rem auto 0;
    padding: 4.8rem 6.4rem 6.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #34355B;
}

h2 {
    font-size: 1.5rem;
    color: #34355B;
    margin-bottom: 2.0rem;
    font-family: 'DM Sans', sans-serif;
}

button {
    border: none;
    cursor: pointer;
    background: white;
}

.screen2 {
    height: 56.4rem;
}

.screen2 h1 {
    font-size: 2.4rem;
}

.screen2 img:nth-child(2) {
    background: #E4EDF1;
    padding: 1.0rem;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
}

.screen2 img:nth-child(3) {
    margin: 6.0rem 0;
}

.screen2 button {
    width: 17.4rem;
    height: 5.2rem;
    border-radius: 4px;
    background: #FF9500;
    color: white;
    font-weight: 700;
}

.hide {
    display: none;
}

.colorBack {
    background: linear-gradient(45deg, #b0f 0%, #190361 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.screen1 img:hover {
    animation: shake .2s;
    animation-iteration-count: 4;
}

.screen2 img:nth-child(2) {
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes shake {
    0% {margin-top: 1.0rem;}
    25% {margin-right: 1.0rem;}
    50% {margin-bottom: 1.0rem;}
    75% {margin-left: 1.0rem;}
    100% {margin-top: 1.0rem;}
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        transform: scale(1.2);
    }
}